option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_SECRET_KEY: "your_flask_secret_key"  # Variabel ini akan diisi di Elastic Beanstalk console
    API_GATEWAY_URL: "your_api_gateway_url"   # Variabel ini akan diisi di Elastic Beanstalk console
    AWS_ACCESS_KEY_ID: "your_aws_access_key_id"  # Variabel ini akan diisi di Elastic Beanstalk console
    AWS_SECRET_ACCESS_KEY: "your_aws_secret_access_key"  # Variabel ini akan diisi di Elastic Beanstalk console
    AWS_SESSION_TOKEN: "your_aws_session_token"  # Variabel ini akan diisi di Elastic Beanstalk console
    S3_STAGING_DIR: "s3://your-s3-bucket/"  # Variabel ini akan diisi di Elastic Beanstalk console
    AWS_REGION: "us-east-1"  # Variabel ini akan diisi di Elastic Beanstalk console
    ATHENA_SCHEMA_NAME: "your_athena_schema_name"  # Variabel ini akan diisi di Elastic Beanstalk console
    SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:123456789012:your-topic"  # Variabel ini akan diisi di Elastic Beanstalk console

packages:
  yum:
    python3: []
    python3-pip: []
    python3-devel: []
    gcc: []
    libffi-devel: []
    musl-devel: []

commands:
  01_install_requirements:
    command: "pip3 install -r /opt/python/current/app/requirements.txt"

container_commands:
  01_migrate_database:
    command: "flask db upgrade"
    leader_only: true
  02_create_superuser:
    command: "flask create_admin"
    leader_only: true
